@page "/"
@using System.Text.Json
@using BlazorDaprDemo.Components.VacationList
@using BlazorDaprDemo.Entities
@using BlazorDaprDemo.Services
@inject IVacationAgent vacationAgent
@inject IConfiguration configuration
<PageTitle>Book your vacation</PageTitle>
@attribute [Authorize]

<p>
    Environment: @((MarkupString)(configuration["DAPRDEMOENVIRONMENT"] ?? "<i>Not specified</i>"))
</p>

<VacationList />

<p>
<button class="btn btn-primary" @onclick="GetVacationData">Get vacation data</button>
</p>

@if(error != null)
{
    <p style="color:red">@error</p>
}

@if(vacations != null)
{
    <table>
        <thead><tr><th>Name</th></tr></thead>
        <tbody>
            @foreach (var vacation in vacations) {
                <tr><td>@vacation.Title</td></tr>
            }
        </tbody>
    </table>
}

@code {
    IEnumerable<VacationModel>? vacations = null;
    string error;
    async Task GetVacationData()
    {
        error = String.Empty;
        try
        {
            vacations = await vacationAgent.GetVacationsAsync();
        } catch (Exception e)
        {
            error = e.Message;
        }
    }
}
